.review-section {
    text-align: center;
    padding: 50px;
    background: #f1f5f8;
    min-height: 100vh;
}

.title h2 {
    font-size: 2rem;
    color: #102a42;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: #49a6e9;
    margin: 0 auto 2rem;
}

.img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
    position: relative;
}

.review-card {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



.author {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.job {
    color: #49a6e9;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.info {
    color: #617d98;
    margin: 1rem 0;
}

.btn-container {
    margin-top: 1rem;
}

.prev-btn,
.next-btn {
    color: #49a6e9;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

.img-container::after {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #49a6e9;
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.random-btn {
    margin-top: 0.5rem;
    background: #ebf7ff;
    color: #49a6e9;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #49a6e9;
    cursor: pointer;
}